<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div class="user-container ">
        <div class="user-header">

            <svg class="svg-image icon-bell" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                    d="M6,4H18V5H21V7H18V9H21V11H18V13H21V15H18V17H21V19H18V20H6V19H3V17H6V15H3V13H6V11H3V9H6V7H3V5H6V4M11,15V18H12V15H11M13,15V18H14V15H13M15,15V18H16V15H15Z" />
            </svg>
        </div>
        <div class="user">

            <div class="username">Gerardo's Web Page!</div>
        </div>
        <div class="btn-list">
            <button class="btn">New</button>
            <button class="btn">Upload</button>
            <button class="btn">Share</button>
        </div>
    </div>

</body>

</html>